
#logo {
    padding: 50px 0 45px 0;
    text-align: center;
}
a.custom-logo-link {
    display: block;
}
#line {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.site-name .navbar-brand {
    color: #1c202a;
}
.tagline {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    letter-spacing: 1px;
}
.site-branding {
    margin-top: 20px;
    margin-bottom: 20px;
}
.site-description {
    color: #777;
    font-weight: 200;
    font-size: 16px;
}
