@import "../../common/variables";
.read-more {
    text-align: center;
}
.read-more a {
    border-left: 2px solid #696969;
    border-right: 2px solid #696969;
    color: #696969;
  @include f-secondary-bold();
    line-height: 1.2;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}

.blog.home .page-1 article.post:first-child .read-more,
.blog.home .page-1 article.post:nth-child(2) .read-more,
.blog.home .page-1 article.post:first-child .entry-footer,
.blog.home .page-1 article.post:nth-child(2) .entry-footer {
    display: block;
}

.read-more a:hover,
.flex-caption .read-more a:hover {
    color: #a161bf;
}
