@import "../../common/variables";
.header-search-icon {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header-search-icon {
    background: transparent;
    color: #696969;
}
.header-search-icon:hover {
    background: transparent;
    color: #a161bf;
}
