/* =Social icons
----------------------------------------------- */
@import "../../common/variables";
.social-icons {
  position: relative;
  margin-bottom: 20px;
  text-align: center;

  .layout__sidebar & {
    text-align: left;

    a {
      margin-right: 20px;
    }
  }
}
#social li{
	display: inline-block;
}
#social li,
#social ul {
	border: 0!important;
	list-style: none;
	padding-left: 0;
	text-align: center;
}
#social a {
    color: #696969;
    display: inline-block;
    font-size: 18px;
    list-style: none;
    text-align: center;
}
#social a:hover {
    color: #a161bf;
}
#social li a span {
    display: none;
}
.footer #social a {
    margin: 0 15px;
}
ul#menu-social-items {
    margin-bottom: 0;
}

.dvk-social-sharing {
  line-height: 16px;

  .ss-text {
    display: none;
  }

  > a {
    margin-left: 3px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0;

    &:hover {
      background: none !important;
    }

    &:focus,
    &:hover {
      .ss-icon {
        opacity: 0.9;
      }
    }
  }

  .ss-icon {
      width: 16px;
      height: 16px;
      display: inline-block;
      background-repeat: no-repeat;
      vertical-align: middle;
      background-size: cover;
      opacity: 1;
  }
}

.ss-icon-twitter {
    background-image: url('#{$assets-path}/images/twitter.svg')
}

.ss-icon-facebook {
    background-image: url('#{$assets-path}/images/facebook.svg')
}

.ss-icon-googleplus {
    background-image: url('#{$assets-path}/images/google-plus.svg')
}

.ss-icon-linkedin {
    background-image: url('#{$assets-path}/images/linkedin.svg')
}

.ss-icon-size-32 {
  line-height: 32px;

  .ss-icon {
     width: 32px;
     height: 32px
  }
}


.ss-icon-size-48 {
    line-height: 48px;

  .ss-icon {
      width: 48px;
      height: 48px
  }
}
