@import "../common/variables";
@import "../components/slider/slider";
/* =Featured Posts
----------------------------------------------- */

.flexslider {
    background-color: #f5f5f5;
}
.flexslider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-caption h2 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
